body{
    background: linear-gradient(purple, blue);
    height: 100vh;
    margin: 0;
}
.to-do-list{
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
}
h1{
    font-size: 4rem;
    color: white;

}
button {
    font-size: 2vh; 
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 50%;
    width: 10vh; 
    height: 10vh; 
    cursor: pointer;
    transition: background-color 0.5s ease, transform 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.8);
    transform: scale(1.1);
}


button.add-button {
    background-color: transparent; 
    background-image: url('add.png'); 
    background-size: contain;
    background-repeat: no-repeat; 
    width: 10vw;
    height: 10vw; 
    border: none; 
    cursor: pointer;
    transition: background-color 0.5s ease, transform 0.2s ease;
    display: block;
    margin: 0 auto;
}

button.add-button:hover {
    background-color: rgba(255, 255, 255, 0.8);
    transform: scale(1.1);
}

.delete-button{
    background-color: red;
}
.delete-button:hover{
    background-color: darkred;
}
.move-button{
    background-color: lightskyblue;
}
input[type= "text"]{
    font-size: 1.6rem;
    padding: 10px;
    border: 2x solid gray;
    border-radius: 5px;
    color: black;

}
ol{
    padding: 0;
}
li {
    font-size: 2rem;
    font-weight: bold; 
    padding: 15;
    background-color: white;
    margin-bottom: 10px;
    border: 3px solid white;
    border-radius: 5px;
    display: flex;
    align-items: center; 
}
.text{
    flex: 1;
}
